<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <!-- Chart -->
    <link href="../static/dist/css/chart.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.arrayToDataTable([
        ['Visitdetail', 'ซัพพลายเออร์ส่งมอบ พัสดุที่ได้สั่งซื้อ','ผู้ให้บริการ ปฏิบัติหน้าที่ ที่ได้รับการว่าจ้าง','ส่งเอกสาร วางบิล แจ้งหนี้','สมัครงาน สัมภาษณ์งาน','มารับสินค้า รับเอกสาร','รับขยะสด/ของเสีย เพื่อนำไปกำจัด','อื่นๆ','1วัน ก่อสร้าง ซ่อมบำรุง ติดตั้ง ตรวจสอบ/ประชุมธุรกิจ ','ซื้อ  เศษซากที่ได้รับอนุมัติ/ก่อสร้าง ซ่อมแซม ติดตั้ง ','ผู้ประกอบการร้านค้าโรงอาหาร/ซ่อมบำรุง','ซัพพลายเออร์ ผู้ให้บริการ ประชุมธุรกิจ/ฝึกอบรม','อาคันตุกะเยี่ยมบริษัท ลูกค้า ประชุมธุรกิจ/ตรวจสอบโดยบุคคลภายนอก','เจ้าหน้าที่รัฐ/คบขับรถรับส่งพนักงาน','อื่นๆ/ผู้ประกอบการร้านค้าโรงอาหาร','ซื้อ  เศษซากที่ได้รับอนุมัติ','รับขยะสด/ของเสียเพื่อนำไปกำจัด'],
        {% for res in res %}
        ['{{res[0]}}',{{res[1]}}, {{res[2]}},{{res[3]}}, {{res[4]}}, {{res[5]}}, {{res[6]}}, {{res[7]}}, {{res[8]}}, {{res[9]}}, {{res[10]}},{{res[11]}},{{res[12]}},{{res[13]}},{{res[14]}},{{res[15]}},{{res[16]}}],
        {% endfor %}
     ]);

        var options = {
            chartArea: {
                height: '100%',
                width: '100%',
                top: 48,
                left: 48,
                right: 16,
                bottom: 48
              },
              height: '100%',
              width: '100%',
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        
        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
      $(window).resize(function(){
        drawChart();
      });
      
    </script>

    <!-- Combo Chart -->


    </head>
<body>
    {% include "headdashboard.html" %}
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="navbar-header" data-logobg="skin5">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true" style="color:black;font-size:30px;"></i>
                </a>
            </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar position-fixed" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/dashboard" aria-expanded="false"><i class="material-icons md-48">dashboard</i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/table" aria-expanded="false"><i class="fa fa-table"></i><span
                                    class="hide-menu">Table</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/chart" aria-expanded="false"><i class="fa fa-chart-bar"></i><span
                                    class="hide-menu">Chart</span></a></li>
                    </ul>
    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin5" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Chart</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <div class="card-body">
                                    <!-- title -->
            
                                            <!-- ============================================================== -->
                                            <!-- Search -->
                                            <!-- ============================================================== -->
                                           
                                                    <form action="{{ url_for('chartsearch') }}">
                                                        <div class="d-md-flex">
                                                            <input type="date"  name="startdaterange" id="startdaterange" />
                                                            &nbsp;&nbsp;<h5>To</h5>&nbsp;&nbsp;
                                                            <input type="date"  name="stopdaterange"  id="stopdaterange" />&nbsp;&nbsp;
                                                            <button type="submit" value="Submit">ค้นหา</button>
                                                        </div>
                                                    </form>
                                            </div>
                                            <!-- Dropdown Date -->
                                                <div style="display: flex; justify-content: flex-end">
                                                    <select id="dynamic_select">
                                                        <option value="/chart_DWMY?type=All" selected>Date</option>
                                                        <option value="/chart_DWMY?type=All" >All</option>
                                                        <option value="/chart_DWMY?type=Daily">Daily</option>
                                                        <option value="/chart_DWMY?type=Weekly">Weekly</option>
                                                        <option value="/chart_DWMY?type=Monthly">Monthly</option>
                                                        <option value="/chart_DWMY?type=Yearly">Yearly</option>
                                                    </select>
                                                </div>
                                    <!-- title -->
                                    </div>
                                    
                                </div>
                                <div class="card" >
                                    <div class="card-body" >
                                        <div class="row">
                                            <!-- column -->
                                            <div id="columnchart_material" class="chart-container" style="height: 600px;"></div>
                                            <!-- column -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!--Datetime-->
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        </script>

        <script>
            $(function(){
              // bind change event to select
              $('#dynamic_select').on('change', function () {
                  var url = $(this).val(); // get selected value
                  if (url) { // require a URL
                      window.location = url; // redirect
                  }
                  return false;
              });
            });
        </script>
</body>

</html>