<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Dashboard</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="../static/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Date time Pick -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Sidebar -->
    <link href="../static/dist/css/sidebar.scss">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
    .material-icons.md-48 { font-size: 48px; }
    </style>

    <!-- Area Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Container', 'Van01','Van02','Van03','Van04','Van05','Van06','Van07','Bus01','Bus02','Bus03'],
          {% for res in res %}
          ['{{res['Date']}}', {{res['Van01']}}, {{res['Van02']}}, {{res['Van03']}}, {{res['Van04']}}, {{res['Van05']}}, {{res['Van06']}}, {{res['Van07']}}, {{res['Bus01']}}, {{res['Bus02']}}, {{res['Bus03']}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Company Container',
          hAxis: {title: 'Year-Month-Day',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      $(window).resize(function(){
        drawChart();
      });
    </script>
</head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="navbar-header" data-logobg="skin5">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true" style="color:black;font-size:30px;"></i>
                </a>
            </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        

        <!-- ============================================================== -->

        <aside class="left-sidebar position-fixed" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
                <div class="col col--small">
                    <div class="block">
                        <!-- Sidebar navigation-->
                        <nav class="sidebar-nav">
                            <ul id="sidebarnav">
                                <!-- User Profile-->
                                
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/" aria-expanded="false"><i class="material-icons md-48">dashboard</i><span
                                            class="hide-menu">Dashboard</span></a></li>
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/table" aria-expanded="false"><i class="fa fa-table"></i><span
                                            class="hide-menu">Table</span></a></li>
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/chart" aria-expanded="false"><i class="fa fa-chart-bar"></i><span
                                            class="hide-menu">Chart</span></a></li>
                                    
                                
                            </ul>
            
                        </nav>
                    </div>
                </div>
                <!-- End Sidebar navigation -->
            <!-- End Sidebar scroll-->
        </aside>
        
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin5" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb" style="background-color:rgb(34, 69, 172);">
                
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title" style="color:white">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" 
            style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px
            ; border: 20px solid rgb(34, 69, 172) " >
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- column -->
                                    <div id="chart_div" style="width: 100%; height: 500px;"></div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div class="card-body">
                                        <!-- title -->
                                        
                                                <!-- ============================================================== -->
                                                <!-- Search -->
                                                <!-- ============================================================== -->
                                                <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                                                <br></br>
                                                <form action="/action_page.php">
                                                    <div class="d-md-flex">
                                                        <input type="date" id="startdaterange" name="startdaterange" value="01/01/2018 - 01/15/2018" />
                                                        &nbsp;&nbsp;<h5>To</h5>&nbsp;&nbsp;
                                                        <input type="date" id="stopdaterange" name="stopdaterange" value="01/01/2018 - 01/15/2018" />&nbsp;&nbsp;
                                                        <button type="submit" value="Submit">ค้นหา</button>
                                                    <div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- title -->
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle" id="datatable">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Username</th>
                                            <th class="border-top-0">Container</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="m-r-5"><a
                                                            class="btn btn-circle d-flex btn-info text-white">US</a>
                                                    </div>
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{ user['Username'] }}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ user['Container'] }}</td>
                                            <td>{{ user['Date'] }}</td>
                                            <td>
                                                <label class="label label-success">{{ user['Time'] }}</label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!--Datetime-->
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        </script>
    <!-- Search -->
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>
    <!-- scroll bar -->

    <script>
        $(window).scroll(function(){

        var target = $(window).scrollTop();
        var alturaA = $('.col--small').offset().top;
        var alturaB = alturaA + $('.col--small').height() - 32 - $('.block').height();

        console.log(target + ' ' + alturaA + ' ' + alturaB);
        if(target > alturaB){
            $('.block').css('margin-top', ( alturaB - alturaA ) + 'px');
        } else if( target > alturaA && target < alturaB) {
            $('.block').css('margin-top', ( target - alturaA ) + 'px');
        } else {
            $('.block').css('margin-top','0');
        }
        });
    </script>
    
</body>

</html>