<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <!-- Area Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Visitdetail', 'ซัพพลายเออร์ส่งมอบ พัสดุที่ได้สั่งซื้อ','ผู้ให้บริการ ปฏิบัติหน้าที่ ที่ได้รับการว่าจ้าง','ส่งเอกสาร วางบิล แจ้งหนี้','สมัครงาน สัมภาษณ์งาน','มารับสินค้า รับเอกสาร','รับขยะสด/ของเสีย เพื่อนำไปกำจัด','อื่นๆ','1วัน ก่อสร้าง ซ่อมบำรุง ติดตั้ง ตรวจสอบ/ประชุมธุรกิจ ','ซื้อ  เศษซากที่ได้รับอนุมัติ/ก่อสร้าง ซ่อมแซม ติดตั้ง ','ผู้ประกอบการร้านค้าโรงอาหาร/ซ่อมบำรุง','ซัพพลายเออร์ ผู้ให้บริการ ประชุมธุรกิจ/ฝึกอบรม','อาคันตุกะเยี่ยมบริษัท ลูกค้า ประชุมธุรกิจ/ตรวจสอบโดยบุคคลภายนอก','เจ้าหน้าที่รัฐ/คบขับรถรับส่งพนักงาน','อื่นๆ/ผู้ประกอบการร้านค้าโรงอาหาร','ซื้อ  เศษซากที่ได้รับอนุมัติ','รับขยะสด/ของเสียเพื่อนำไปกำจัด'],
        {% for res in res %}
        ['{{res[0]}}',{{res[1]}}, {{res[2]}},{{res[3]}}, {{res[4]}}, {{res[5]}}, {{res[6]}}, {{res[7]}}, {{res[8]}}, {{res[9]}}, {{res[10]}},{{res[11]}},{{res[12]}},{{res[13]}},{{res[14]}},{{res[15]}},{{res[16]}}],
        {% endfor %}
     ]);

        var options = {
          title: 'Type Visitors',
          hAxis: {title: 'Year-Month-Day',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      $(window).resize(function(){
        drawChart();
      });
    </script>
</head>
<body>
    {% include "headdashboard.html" %}
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="navbar-header" data-logobg="skin5">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true" style="color:black;font-size:30px;"></i>
                </a>
            </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        

        <!-- ============================================================== -->

        <aside class="left-sidebar position-fixed" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
                <div class="col col--small">
                    <div class="block">
                        <!-- Sidebar navigation-->
                        <nav class="sidebar-nav">
                            <ul id="sidebarnav">
                                <!-- User Profile-->
                                
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/dashboard" aria-expanded="false"><i class="material-icons md-48">dashboard</i><span
                                            class="hide-menu">Dashboard</span></a></li>
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/table" aria-expanded="false"><i class="fa fa-table"></i><span
                                            class="hide-menu">Table</span></a></li>
                                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/chart" aria-expanded="false"><i class="fa fa-chart-bar"></i><span
                                            class="hide-menu">Chart</span></a></li>
                                    
                                
                            </ul>
            
                        </nav>
                    </div>
                </div>
                <!-- End Sidebar navigation -->
            <!-- End Sidebar scroll-->
        </aside>
        
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin5" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb" style="background-color:rgb(34, 69, 172);">
                
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title" style="color:white">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" 
            style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px
            ; border: 20px solid rgb(34, 69, 172) " >
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- column -->
                                    <div id="chart_div" style="width: 100%; height: 500px;"></div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div class="card-body">
                                        <!-- title -->
                                        
                                                <!-- ============================================================== -->
                                                <!-- Search -->
                                                <!-- ============================================================== -->
                                                <div style="display: flex; justify-content: flex-end">
                                                    <h1>Total Visitors : {{total}}</h1>
                                                    <br></br>
                                                </div>
                                                <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" >
                                                <br></br>
                                                <form action="/">
                                                    <div class="d-md-flex">
                                                        <input type="date" id="startdaterange" name="startdaterange" value="01/01/2018 - 01/15/2018" />
                                                        &nbsp;&nbsp;<h5>To</h5>&nbsp;&nbsp;
                                                        <input type="date" id="stopdaterange" name="stopdaterange" value="01/01/2018 - 01/15/2018" />&nbsp;&nbsp;
                                                        <button type="submit" value="Submit">ค้นหา</button>
                                                    <div>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- title -->
                                    </div>
                                </div>
                                <!-- title -->
                                
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle" id="datatable">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Detail</th>
                                            <th class="border-top-0">GuestCompany</th>
                                            <th class="border-top-0">Employee</th>
                                            <th class="border-top-0">Department</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Time in</th>
                                            <th class="border-top-0">Time out</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-14">{{ user[1] }}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ user[22] }}</td>
                                            <td>{{ user[2] }}</td>
                                            <td>{{ user[8] }}</td>
                                            <td>{{ user[5] }}</td>
                                            <td>{{ user[18] }}</td>
                                            <td>
                                                <label class="label label-success">{{ user[16] }}</label>
                                            </td>
                                            <td>
                                                <label class="label label-danger">{{ user[17] }}</label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!--Datetime-->
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
        </script>
    <!-- Search -->
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>
    <!-- scroll bar -->

    <script>
        $(window).scroll(function(){

        var target = $(window).scrollTop();
        var alturaA = $('.col--small').offset().top;
        var alturaB = alturaA + $('.col--small').height() - 32 - $('.block').height();

        console.log(target + ' ' + alturaA + ' ' + alturaB);
        if(target > alturaB){
            $('.block').css('margin-top', ( alturaB - alturaA ) + 'px');
        } else if( target > alturaA && target < alturaB) {
            $('.block').css('margin-top', ( target - alturaA ) + 'px');
        } else {
            $('.block').css('margin-top','0');
        }
        });
    </script>
    
</body>

</html>