<!DOCTYPE html>
<html dir="ltr" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex,nofollow">
        <title>Dashboard</title>
        <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
        <!-- Custom CSS -->
        <link href="../static/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../static/dist/css/style.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!-- Date time Pick -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <!-- Dropdown -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style type="text/css">
        .material-icons.md-48 { font-size: 48px; }
        
        </style>
    </head>

<body>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="navbar-header" data-logobg="skin5">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true" style="color:black;font-size:30px;"></i>
                </a>
            </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar position-fixed" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/" aria-expanded="false"><i class="material-icons md-48">dashboard</i><span
                                class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/table" aria-expanded="false"><i class="fa fa-table"></i><span
                                class="hide-menu">Table</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/chart" aria-expanded="false"><i class="fa fa-chart-bar"></i><span
                                class="hide-menu">Chart</span></a></li>
                </ul>
    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin5" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Table</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">Search</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- title -->
                                        <!-- ============================================================== -->
                                            <!-- Search -->
                                            <!-- ============================================================== -->
                                            
                                            <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search Employee Code..." title="Type in a name">
                                            <br></br>
                                            <form action="{{ url_for('tablesearch') }}">
                                                <div class="d-md-flex">
                                                    <input type="date" id="startdaterange" name="startdaterange" value="01/01/2018 - 01/15/2018" />
                                                    &nbsp;&nbsp;<h5>To</h5>&nbsp;&nbsp;
                                                    <input type="date" id="stopdaterange" name="stopdaterange" value="01/01/2018 - 01/15/2018" />&nbsp;&nbsp;
                                                    <button type="submit" value="Submit">ค้นหา</button>
                                                <div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                        </div>
                                </div>
                                 
                                
                                <!-- Dropdown Date -->
                                <div style="display: flex; justify-content: flex-end">
                                    <!-- Dropdown Van -->
                                    <select id="Searchcontainer" onclick="seachcontainer()">
                                        <option value="" selected>Container</option>
                                        <option value="">All</option>
                                        <option value="Van01" >Van01</option>
                                        <option value="Van02">Van02</option>
                                        <option value="Van03">Van03</option>
                                        <option value="Van04">Van04</option>
                                        <option value="Van05">Van05</option>
                                        <option value="Van06">Van06</option>
                                        <option value="Van07">Van07</option>
                                        <option value="Bus01">Bus01</option>
                                        <option value="Bus02">Bus02</option>
                                        <option value="Bus03">Bus03</option>
                                    </select>&nbsp;&nbsp;
                                    <select id="dynamic_select">
                                        <option value="/chart_DWMY?type=All" selected>Date</option>
                                        <option value="/table_DWMY?type=All" >All</option>
                                        <option value="/table_DWMY?type=Daily">Daily</option>
                                        <option value="/table_DWMY?type=Weekly">Weekly</option>
                                        <option value="/table_DWMY?type=Monthly">Monthly</option>
                                        <option value="/table_DWMY?type=Yearly">Yearly</option>
                                      </select>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle" id="datatable">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Employee Code</th>
                                            <th class="border-top-0">Container</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="m-r-5"><a
                                                            class="btn btn-circle d-flex btn-info text-white">US</a>
                                                    </div>
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{ user['Username'] }}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ user['Container'] }}</td>
                                            <td>{{ user['Date'] }}</td>
                                            <td>
                                                <label class="label label-success">{{ user['Time'] }}</label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!--Datetime-->
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
    </script>
    <!-- Search -->
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>

     <!-- Search Van-->
     <script>
        function seachcontainer() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("Searchcontainer");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>

    <script>
        $(function(){
          // bind change event to select
          $('#dynamic_select').on('change', function () {
              var url = $(this).val(); // get selected value
              if (url) { // require a URL
                  window.location = url; // redirect
              }
              return false;
          });
        });
    </script>

    
</body>

</html>