<!DOCTYPE html>
<html dir="ltr" lang="en">
<body>
    {% include "headdashboard.html" %}
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
            <div class="navbar-header" data-logobg="skin5">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true" style="color:black;font-size:30px;"></i>
                </a>
            </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar position-fixed" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/dashboard" aria-expanded="false"><i class="material-icons md-48">dashboard</i><span
                                class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/table" aria-expanded="false"><i class="fa fa-table"></i><span
                                class="hide-menu">Table</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/chart" aria-expanded="false"><i class="fa fa-chart-bar"></i><span
                                class="hide-menu">Chart</span></a></li>
                </ul>
    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin5" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Table</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div >
                                        <h4 class="card-title" style=" display: table-cell; height: 100px;vertical-align: middle;">
                                        Search</h4>
                                    </div>
                                    <div class="card-body">
                                        <!-- title -->
                                        <!-- ============================================================== -->
                                            <!-- Search -->
                                            <!-- ============================================================== -->
                                            
                                            <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search Name" title="Type in a name">
                                            <br></br>
                                            <form action="{{ url_for('tablesearch') }}">
                                                <div class="d-md-flex">
                                                    <input type="date" id="startdaterange" name="startdaterange" value="01/01/2018 - 01/15/2018" />
                                                    &nbsp;&nbsp;<h5>To</h5>&nbsp;&nbsp;
                                                    <input type="date" id="stopdaterange" name="stopdaterange" value="01/01/2018 - 01/15/2018" />&nbsp;&nbsp;
                                                    <button type="submit" value="Submit">ค้นหา</button>
                                                <div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                        </div>
                                </div>
                                 
                                
                                <!-- Dropdown Date -->
                                <div style="display: flex; justify-content: flex-end">
                                    <!-- Dropdown Van -->
                                    <select id="Searchcontainer" onclick="seachcontainer()">
                                        <option value="" selected>Department</option>
                                        <option value="">All</option>
                                        <option value="TOG">TOG</option>
                                        <option value="TOC">TOC</option>
                                        <option value="PLS">PLS</option>
                                    </select>&nbsp;&nbsp;
                                    <select id="dynamic_select">
                                        <option value="/chart_DWMY?type=All" selected>Date</option>
                                        <option value="/table_DWMY?type=All" >All</option>
                                        <option value="/table_DWMY?type=Daily">Daily</option>
                                        <option value="/table_DWMY?type=Weekly">Weekly</option>
                                        <option value="/table_DWMY?type=Monthly">Monthly</option>
                                        <option value="/table_DWMY?type=Yearly">Yearly</option>
                                      </select>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle" id="datatable">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Detail</th>
                                            <th class="border-top-0">GuestCompany</th>
                                            <th class="border-top-0">Employee</th>
                                            <th class="border-top-0">Department</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Time in</th>
                                            <th class="border-top-0">Time out</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in user %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-14">{{ user[1] }}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ user[22] }}</td>
                                            <td>{{ user[2] }}</td>
                                            <td>{{ user[8] }}</td>
                                            <td>{{ user[5] }}</td>
                                            <td>{{ user[18] }}</td>
                                            <td>
                                                <label class="label label-success">{{ user[16] }}</label>
                                            </td>
                                            <td>
                                                <label class="label label-danger">{{ user[17] }}</label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!--Datetime-->
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          });
        });
    </script>
    <!-- Search -->
    <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>

     <!-- Search Van-->
     <script>
        function seachcontainer() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("Searchcontainer");
          filter = input.value.toUpperCase();
          table = document.getElementById("datatable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
    </script>

    <script>
        $(function(){
          // bind change event to select
          $('#dynamic_select').on('change', function () {
              var url = $(this).val(); // get selected value
              if (url) { // require a URL
                  window.location = url; // redirect
              }
              return false;
          });
        });
    </script>

    
</body>

</html>